# Startup Config
API_ID=""
API_HASH=""
BOT_TOKEN=""
HELPER_BOT_TOKEN=""
OWNER_ID=""
REPLACE_MODE="true"
HIDE_CATALOG="false"
PARALLEL="1"
PRE_FETCH="1"

# STORAGE
AUTH_CHANNEL=""
DATABASE=""

# API
TMDB_API=""

# SERVER
BASE_URL=""
PORT="8000"

# UPDATE REPO
UPSTREAM_REPO="https://github.com/weebzone/Telegram-Stremio"
UPSTREAM_BRANCH="master"

# ADMIN PANNEL
ADMIN_USERNAME=""
ADMIN_PASSWORD=""

# SUBSCRIPTION CONFIG
SUBSCRIPTION=False                      #without ""
SUBSCRIPTION_GROUP_ID=                  #without ""
APPROVER_IDS= #without ""
SUBSCRIPTION_URL=""                     #telegram bot url like https://t.me/username

# PROXY CONFIG
Proxy=True
ProxyType=HTTPS
HTTP_Proxy_URL=""                       #example https://PROXYURL/?url=
SHOW_ProxyAndNonProxyBoth=True          #this will show both link proxy and non proxy both

# MULTI TOKEN CONFIG
# MULTI_TOKEN1=""                       #Remove the hashtag sign
